{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'superuser/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/header/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
<body>
    <div class="header">
        <div class="header-right">
            <a href="{% url 'web_logout' %}">Odjava</a>
        </div>
    </div>
    <div id="container">
        <h4>Na voljo so vam vse naslednje relacije nad katerimi lahko delate CRUD operacije. </h4>
        <h4>Ne pozabite se odjaviti </h4>
        Opis:
        Mentor lahko <b>uči(Uci)</b> na več šolah.
        Mentor, ki je <b>potrjen(Potrditve)</b> na šoli lahko sodeluje na
        enem ali več <b>tekmovanjih(Tekmovanje)</b>. <br>
        CRUD relacije: <br>
        <a href="/users/" target="_blank">Users</a><br>
        <a href="/groups/" target="_blank">Groups</a><br>
        <a href="/sola/" target="_blank">Sola</a><br>
        <a href="/mentor/" target="_blank">Mentor</a><br>
        <a href="/potrditve/" target="_blank">Potrditve</a><br>
        <a href="/uci/" target="_blank">Uci</a><br>
        <a href="/tekmovanje/" target="_blank">Tekmovanje</a><br>
        <a href="/sodeluje/" target="_blank">Sodeluje</a>
    </div>
</body>
</html>