#container {
    width: 90%;
    margin: auto;
    margin-top: 5px !important;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .tabs .col-auto {
        width: 100% !important;
    }
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

.pomoči {
    word-break: break-all
}