{% load static %}
{% include "shared/admin/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'shared/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/edit_profile.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
  <div id="container">
    <ul class="page-info">
      <li>&bull; Admin</li>
      <li>&bull; Urejanje profila</li>
    </ul>
    <b-tabs pills card vertical>
      <b-tab title="Osebni podatki" active>
        <b-card-text>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <ul>
                  <li v-if="user.first_name"><b>Ime:</b> [[ user.first_name ]] </li>
                  <li v-if="!user.first_name"><b>Ime:</b> Ni podatka </li>
                  <li v-if="user.last_name"><b>Priimek:</b> [[ user.last_name ]] </li>
                  <li v-if="!user.last_name"><b>Priimek:</b> Ni podatka </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li v-if="user.username"><b>Uporabniško ime:</b> [[ user.username ]] </li>
                  <li v-if="!user.username"><b>Uporabniško ime:</b> Brez podatka </li>
                  <li v-if="user.email"><b>Email:</b> [[ user.email ]] </li>
                  <li v-if="!user.email"><b>Email:</b> Brez podatka </li>
                </ul>
              </div>
            </div>
          </div>
        </b-card-text>
      </b-tab>
      <b-tab title="Sprememba os. podatkov">
        <b-card-text>
          Ob uspešni zamenjavi podatkov se boste morali ponovno prijaviti v sistem.
          <div class="form-group">
            <div class="col-sm">
              <label class="col-sm-4" for="ime"><b>Ime:</b></label>
                <div class="col-sm-12">
                  <input type="text" v-model="ime" class="form-control" id="ime" name="ime">
                </div>
                <label class="control-label col-sm-4" for="priimek"><b>Priimek:</b></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" v-model="priimek" id="priimek" name="pwd">
              </div>
          </div>
          <div class="col-sm">
            <label class="control-label col-sm-4" for="up_ime"><b>Up Ime:</b></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" v-model="up_ime" id="up_ime" name="pwd">
            </div>
          </div>
          <p class="text-info">[[status]]</p>
         <button id="update" v-on:click="change_data($event)" class="btn btn-primary">Spremeni podatke</button>
          </div>
        </b-card-text>
      </b-tab>
      <b-tab title="Sprememba gesla">
        <b-card-text>
         <div class="form-group">
          <label class="col-sm-12" for="ime2"><b>Novo geslo:</b></label>
          <div class="col-sm-12">
            <input type="password" v-model="geslo1" class="form-control" id="ime2" name="ime">
          </div>
          <label class="control-label col-sm-12" for="priimek2"><b>Ponovitev novega gesla:</b></label>
          <div class="col-sm-12">
            <input type="password" class="form-control" v-model="geslo2" id="priimek2" name="pwd">
          </div>
        </div>
          <b><p class="text-info">[[geslo_status]]</p></b>
          <button id="update" v-on:click="change_password($event)" class="btn btn-primary">Spremeni geslo</button>
        </b-card-text>
      </b-tab>
      <b-tab title="Nastavitev poštnega računa">
        <b-card-text>
         <div class="form-group">
          <label class="col-sm-12" for="imeServ"><b>E-poštni strežnik:</b></label>
          <div class="col-sm-12">
            <input type="input" v-model="serverName" class="form-control" id="imeServ" name="imeServ" required/>
          </div>
          <label class="col-sm-12" for="stVrat"><b>Številka vrat:</b></label>
          <div class="col-sm-12">
            <input type="number" v-model="portNumber" class="form-control" id="stVrat" name="stVrat" required/>
          </div>
          <label class="col-sm-12" for="imeEmail"><b>Uporabniško ime (e-pošta):</b></label>
          <div class="col-sm-12">
            <input type="email" v-model="usEmail" class="form-control" id="imeEmail" name="imeEmail" required/>
          </div>
          <!-- <label class="control-label col-sm-12" for="pass"><b>Geslo:</b></label>
          <div class="col-sm-12">
            <input type="password" class="form-control" v-model="geslo3" id="pass" name="pwd2" required/>
          </div> -->
        </div>
          <b><p class="text-info">[[geslo_status2]]</p></b>
          <button id="update" v-on:click="saveSettings($event)" class="btn btn-primary">Končano</button>
        </b-card-text>
      </b-tab>
      
      <b-tab title="Izbris">
        <b-card-text>
          Pri izbrisu ne bo prišlo do dejanskega izbrisa temveč boste postali neaktivni upravitelj tekmovanj. Vsa vaša dodajanja v sistem, bodo ostala v sistemu. <br>
          Z izbrisom prijava v aplikacijo ne bo več mogoča. V primeru, da ste zadnji upravitelj tekmovanj izbris iz sistema ni mogoč. <br> <br>
          <button id="sign-down" class="btn btn-danger" v-on:click="delete_user($event)">Izbriši me</button>
          <br> <br>
          <b><p class="text-info">[[izbris_status]]</p></b>
        </b-card-text>
    </b-tabs>
  </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/view/edit_profile.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}