{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/help.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
         <div id="container">
            <ul class="page-info">
                <li>&bull; Pregledovanje</li>
                <li>&bull; Pomoč</li>
            </ul>
             <!-- Modal za podrobnosti o pomoči -->
             <b-modal size="lg" id="modal-1" title="Podatki o pomoči">
                    <b>Naslov:</b> <br>
                    <p> [[currentHelp.title]] </p>
                    <b>Vsebina:</b> <br>
                    <p> [[currentHelp.description]] </p>
                </b-modal>
                <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns">
                    <span slot="title" slot-scope="props">
                        <a href="#" v-b-modal.modal-1 @click="get_help(props.row.id)"> [[props.row.title]] </a>
                    </span>
                    <span slot="izbris" slot-scope="props">
                        <a href="#" @click="delete_help(props.row.id)"> Izbrisi </a>
                    </span>
                </v-client-table>
         </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/help.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}