{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'user/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shared/header/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shared/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/mentors.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.css">
<link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet"> -->
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#" onclick="resetM()"><i class="far fa-user"></i>Mentorji<label id="len"></label></a>
                <hr width="100%">
                <!-- Spodaj se prikažejo vse ustvarjene skupine -->
                <div class="dropdown1">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chevron-down"></i>Skupine
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Statična skupina VSI-->
                        <a class="dropdown-item" @click="getUsersInGroup('vsi')"><i class="fas fa-tag"></i>vsi</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" v-for="gus in groups">
                        <a class="dropdown-item" @click="getUsersInGroup(gus.name)"><i class="fas fa-tag"></i>[[ gus.name | truncate(gus.name.length, '...') ]]</a>
                        <input type="text" class="formCelTekst" name="formCelTekst" :placeholder="gus.name" style="display: none">
                        <div class="deleteGroup" v-if="[[ gus.created_by ]] == chechkGlob" role="button" tabindex="0" title="Briši skupino" data-toggle="modal" data-target="#modalSubscriptionForm4"><i class="fas fa-trash-alt"></i></div>
                        <div class="editGroup" v-if="[[ gus.created_by ]] == chechkGlob" role="button" tabindex="0" title="Uredi skupino" data-toggle="modal" data-target="#modalSubscriptionForm3"><i class="fas fa-edit"></i></div>
                    </div>
                </div>
            </div>

            <!--Modal za podrobnosti o uporabniku-->
            <b-modal size="lg" id="modal-1" title="Podatki o uporabniku">
                    <b-card no-body>
                        <b-tabs pills card vertical>
                            <b-tab title="Osnovni podatki" active>
                                <b-card-text>
                                    <ul class="list-unstyled">
                                        <li style="color: black;font-weight: normal; float: left;"> Uporabniško ime: [[ selectedUser.username ]] </li>
                                        <br>
                                        <li style="color: black;font-weight: normal; float: left;"> Email: [[ selectedUser.email ]] </li>
                                        <br>
                                        <li v-if="selectedUser.is_active == false" style="float: left"><p id="neaktiven">Status: neaktiven</p></li>
                                        <li v-if="selectedUser.is_active == true" style="float: left"><p id="aktiven">Status: aktiven</p></li>
                                    </ul>
                                </b-card-text>
                            </b-tab>
                             <b-tab title="Pregled šol">
                                <b-card-text>
                                    <table id="table">
                                        <tr>
                                            <th>Ime šole</th>
                                            <th>Status</th>
                                            <th>Potrdi</th>
                                        </tr>
                                        <tr v-for="school in user_schools">
                                            <td style="width:90%"> [[ school.Naziv ]] </td>
                                            <td id="potrjen" style="width:10%" v-if="school.Potrjen == 1">Potrjen</td>
                                            <td id="nepotrjen" style="width:10%" v-if="school.Potrjen == 0">Nepotrjen</td>
                                            <td id="nepotrjen" style="width:10%">
                                                <button :id="school.ID_Sola" class="confirm" v-if="school.Potrjen == 0" v-on:click="userConfirm($event,selectedUser.id, school.ID_Sola)">Potrdi</button>
                                            </td>
                                        </tr>
                                    </table>
                                </b-card-text>
                            </b-tab>
                            <b-tab title="Pregled tekmovanj">
                                <b-card-text>
                                    <table id="table">
                                        <tr>
                                            <th>Ime tekmovanja</th>
                                            <th>Ime šole</th>
                                        </tr>
                                        <tr v-for="tekmovanje in tekmovanja">
                                            <td style="width:40%"> [[ tekmovanje.Naziv ]] </td>
                                            <td style="width:60%"> [[ tekmovanje.Ime_sola ]] </td>
                                    </table>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
            </b-modal>

            <h2 style="margin-top: 1%"> Pregled mentorjev in sestavljanje poštnih seznamov </h2>
            <div class="custom-control custom-checkbox pokazi" style="display: none; margin-left: 82px;">
                <input type="checkbox" class="custom-control-input" id="ment" v-model="selectAll" @click="select" title="Izberi vse"><label style="margin-right: -11%;display: none">Vsi</label>
                <label class="custom-control-label" for="ment" style="display: none"></label>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalSubscriptionForm" style="margin-left: 57px;padding-right: 12%; width: 83%;margin-bottom: 2%;"><i class="fas fa-users"></i> Ustvari skupino</button>

                <div class="modal" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Ustvari skupino</h4>
                            <button type="button" class="close" id="ccc" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-4">
                                <input type="text" id="form2" name="form2" class="form-control validate" placeholder="Ime skupine">
                            </div>
                            <div class="md-form mb-4">
                                <textarea id="coment" name="coment" class="form-control validate" placeholder="Komentar"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-indigo" v-on:click="group('form2')" style="display: block; margin: 0 auto">Ustvari <i class="fas fa-paper-plane-o ml-1"></i></button>
                        </div>
                        <p id="status" style="text-align: center">[[ status ]]</p>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" id="filtr" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalSubscriptionForm2" v-on:click="getSole" style="width: 26%"><i class="fas fa-filter"></i> Filtriraj ali ustvari skupino</button>
            <img id="export" @click="toCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}>

            <div class="modal" id="modalSubscriptionForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin-top: -11%">
                    <div class="modal-content" style="margin-top: 29%;">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Filtriranje ali ustvarjanje skupin</h4>
                        <button type="button" class="close" id="zapriF" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4" style="text-align: center">
                            <label>Potrditve</label><br><br>
                            <input type="checkbox" class="slectOne" data-id="potrjeni"> Potrjeni
                            <input type="checkbox" class="slectOne" data-id="nepotrjeni" style="margin-left: 11%"> Nepotrjeni
                        </div>
                    </div>
                    <hr>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4" style="text-align: center">
                            <label>Izberi šolo/e</label><br><br>
                            <input type="checkbox" class="slectOne1" data-id="osnovne"> Osnovne šole
                            <input type="checkbox" class="slectOne1" data-id="srednje" style="margin-left: 11%"> Srednje šole
                            </br></br>
                            <select id="select1" multiple="multiple" placeholder="Nothing selected">
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4" style="text-align: center">
                            <label>Izberi tip tekmovanja</label><br>
                            <select id="tipTekmovanja" style="width: 44%;text-align-last: center;">
                            </select><br><br>
                            <label>Izberi tekmovanje/a</label><br>
                            <select id="select2" multiple="multiple" placeholder="Nothing selected"></select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="filter(0,0,'')">Rezultati <i class="fas fa-paper-plane-o ml-1"></i></button>
                        <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="filter(1,0,'')">Ustvari skupino <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                    <label id="status2"></label>
                    </div>
                </div>
            </div>

            <div class="modal" id="modalSubscriptionForm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="top:11%;right: 13%;">
                <div class="modal-dialog" role="document" style="margin-top: -11%">
                    <div class="modal-content" style="margin-top: 34%;width: 129%;">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Uredi skupino</h4>
                        <button type="button" class="close" id="ccc3345" data-dismiss="modal" aria-label="Close" style="margin-top: -38px">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>  
                    <b-tabs content-class="mt-3">
                        <b-tab title="Profil skupine" active @click="modalDown">
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4">
                                    <label for="form3">Uredi naziv skupine</label>
                                    <input id="toggle-demo" type="checkbox" data-toggle="toggle" data-off="Zasebna skupina" data-on="Javna skupina"  data-onstyle="success" data-offstyle="danger" data-size="xs" title="ddd">
                                    <input type="text" id="form3" name="form3" class="form-control validate">
                                </div>
                                <div class="md-form mb-4">
                                    <label for="urediKoment">Uredi/ustvari komentar skupine</label>
                                    <input type="text" id="urediKoment" name="urediKoment" class="form-control validate">
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-indigo" style="display: block; margin: 0 auto" v-on:click="editGroupName">Uredi naziv <i class="fas fa-user-edit"></i></button>
                                <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="editGroupComment()">Uredi/ustvari komentar <i class="fas fa-user-edit"></i></button>
                            </div>
                            <label class="state"></label>
                        </b-tab>

                        <b-tab title="Dodaj filter" @click="modalUp">
                            <!-- <label style="margin-left:33%; font-family:'Manjari', sans-serif; font-size: 1.3em">Dodajanje filtra</label> -->
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4" style="text-align: center">
                                    <label>Potrditve</label><br> 
                                    <input type="checkbox" class="slectOne" data-id="potrjeni"> Potrjeni
                                    <input type="checkbox" class="slectOne" data-id="nepotrjeni" style="margin-left: 11%"> Nepotrjeni
                                </div>
                            </div>
                            <hr>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4" style="text-align: center">
                                    <label>Izberi šolo/e</label><br> 
                                    <input type="checkbox" class="slectOne1" data-id="osnovne"> Osnovne šole
                                    <input type="checkbox" class="slectOne1" data-id="srednje" style="margin-left: 11%"> Srednje šole
                                    </br> 
                                    <select id="select3" multiple="multiple" placeholder="Nothing selected">
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4" style="text-align: center">
                                    <label>Izberi tip tekmovanja</label><br>
                                    <select id="tipTekmovanja1" style="width: 44%;text-align-last: center;">
                                    </select><br><br>
                                    <label>Izberi tekmovanje/a</label><br> 
                                    <select id="select4" multiple="multiple" placeholder="Nothing selected"></select>
                                </div>
                            </div>

                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="filter2()">Posodobi skupino <i class="fas fa-paper-plane-o ml-1"></i></button>
                            </div>
                            <label id="status3"></label>
                        </b-tab>
                        <b-tab title="Dodaj člana/e skupine" v-on:click="modalDown(); fillUsersMent();">
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4" style="text-align: center">
                                    <label>Izberi in dodaj mentorja/e v skupino</label><br> 
                                    </br> 
                                    <select id="select345" multiple="multiple" placeholder="Nothing selected">
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="dodajanjeMentorjev()">Dodaj mentorja/e <i class="fas fa-paper-plane-o ml-1"></i></button>
                            </div>
                            <label id="status345"></label>
                        </b-tab>

                        <b-tab title="Odstrani člana/e skupine" v-on:click="modalDown(); fillUsersDelMent();">
                            <div class="modal-body mx-3">
                                <div class="md-form mb-4" style="text-align: center">
                                    <label>Izberi in odstrani mentorja/e v skupino</label><br> 
                                    </br> 
                                    <select id="select346" multiple="multiple" placeholder="Nothing selected">
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-indigo" style="display: block; margin: 0 auto" onclick="odstranjevanjeMentorjev()">Odstrani mentorja/e <i class="fas fa-paper-plane-o ml-1"></i></button>
                            </div>
                            <label id="status346"></label>
                        </b-tab>
                    </b-tabs>
                    </div>
                </div>
            </div>

            <div class="modal" id="modalSubscriptionForm4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="top:22%">
                <div class="modal-dialog" role="document" style="margin-top: -11%">
                    <div class="modal-content" style="margin-top: 34%;">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Izbris skupine</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -38px">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-indigo" style="display: block; margin: 0 auto" v-on:click="deleteGroupName">Izbriši <i class="fas fa-user-minus"></i></button>
                    </div>
                    <label class="state42"></label>
                    </div>
                </div>
            </div>

            <div class="modal" id="modalSubscriptionForm5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Ustvari skupino po kategorijah</h4>
                        <button type="button" class="close" id="ccc2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <input type="text" id="form333" name="form333" class="form-control validate" placeholder="Ime skupine">
                        </div>
                        <div class="md-form mb-4">
                            <textarea id="coment1" name="coment1" class="form-control validate" placeholder="Komentar"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-indigo" id="knof" v-on:click="group('form333')" style="display: block; margin: 0 auto">Ustvari <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                    <p id="status3">[[ status ]]</p>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm pokazi" id="knof" @click="send" style="display: none"><i class="fas fa-envelope"></i> Pošlji</button>

            <hr style="margin-top: -1%; margin-bottom: 1%;" id="spremeni">

            <!-- <select id="select_option">
                <option value="3">3</option>
                <option value="5">5</option>
            </select> -->
            <!--Tabela uporabnikov-->
            <label id="filt" style="display: none">Filtrirano po <label id="tekst"></label><label id="skupina"></label></label>
            <label id="rez" style="display: none"></label><br>
            <label id="komentar" style="display: none; font-family: Manjari, sans-serif;font-size: 1.3em;"></label>

            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">
                <span slot="checkbox" slot-scope="user">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" :id="user.row.id" :value="user.row.id" v-model="selected" style="
                        position: relative;
                        left: 7px;
                        height: 17px;
                        width: 17px;
                        background-color: #eee;">
                        <label class="custom-control-label" :for="user.row.id"></label>
                    </div>
                </span>
                <span slot="first_name" slot-scope="user">
                    [[user.row.first_name]] [[user.row.last_name]]
                </span>
                <span slot="email" slot-scope="user">
                    <a href="#" v-b-modal.modal-1 @click="handler(user.row.id)">[[user.row.email]]</a>
                </span>
            </v-client-table>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/898d9d4930.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/mentors.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script> -->
{% include "shared/admin/foot.html" %}