{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/schools.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
         <div id="container">
        <ul class="page-info">
            <li>&bull; Pregledovanje</li>
            <li>&bull; Šol</li>
            <li> <img id="csv" @click="toCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}></li>
        </ul>

         <!--Modal za podrobnosti o šoli-->
            <b-modal size="lg" id="modal-1" title="Podatki o šoli">
                <b-card no-body>
                    <b-tabs pills card vertical v-if="schoolExists">
                        <b-tab title="Osnovni podatki" active>
                            <b-card-text>
                                <ul>
                                    <li> <b>Ime šole: </b> [[currentSchoolName]] </li>
                                    <li> <b>Ustvaril: </b> [[currentUser]] </li>
                                    <li> <b>Ustvarjeno: </b> [[modalDate]] </li>
                               </ul>
                            </b-card-text>
                        </b-tab>
                         <b-tab title="Uredi">
                            <b-card-text>
                                <div id="forma">
                                    <label for="tekmovanje_ime"><b>Novo ime šole: <font color="red">*</font></b></label><br>
                                    <input type="text" v-model="currentSchoolName" placeholder="Vnesite ime šole" maxlength="50" id="sola_ime" name="sola_ime" required>
                                    <p id="edit_status" v-bind:class="{ 'text-success': adminEditSuccess, 'text-danger': adminEditHasError }"> [[ edit_status ]] </p>
                                    <button class="editbtn" v-on:click="edit_school(currentSchoolId)">Uredi šolo</button>
                                </div>
                                  Podatki, ki jih boste spremenili bodo v tabeli vidni ko boste osvežili stran. <br>
                                  Če želite preklicati urejanje, zaprite pojavno okno.  Ob ponovnem odprtju se vam bodo prikazali podatki, ki so v sistemu.
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Izbriši">
                            <b-card-text>
                                Šola bo uspešno izbrisana, če na šoli ne uči noben mentor.
                               <p id="status" v-bind:class="{ 'text-success': adminDeleteSuccess, 'text-danger': adminDeleteHasError }"> [[ delete_status ]] </p>
                               <button id="delete_button" class="delbtn" v-on:click="delete_school($event,currentSchoolId)">Izbriši šolo</button>
                            </b-card-text>
                        </b-tab>
                    </b-tabs>
                    <p v-if="!schoolExists"> Zahtevana šola ne obstaja, prosimo osvežite stran. </p>
            </b-modal>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">
                <span slot="Naziv" slot-scope="props">
                    <a href="#" v-b-modal.modal-1 @click="get_school(props.row.ID_Sola)"> [[props.row.Naziv]] </a>
                </span>
            </v-client-table>
         </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/schools.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>

{% include "shared/admin/foot.html" %}