{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/uncorfirmed_menthors.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
         <div id="container">
            <ul>
                <li>&bull; Pregledovanje</li>
                <li>&bull; Nepotrjenih</li>
                <li> <img id="csv" @click="toCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}></li>
            </ul>

            <!--Modal za podrobnosti o uporabniku-->
            <b-modal size="lg" id="modal-1" title="Podatki o uporabniku">
                <b-card no-body>
                    <b-tabs pills card vertical>
                        <b-tab title="Osnovni podatki" active>
                            <b-card-text>
                                <ul>
                                    <li> Uporabniško ime: [[ selectedUser.username ]] </li>
                                    <li> Email: [[ selectedUser.email ]] </li>
                                    <li v-if="selectedUser.is_active == false"><p id="neaktiven">Status: neaktiven</p></li>
                                    <li v-if="selectedUser.is_active == true"><p id="aktiven">Status: aktiven</p></li>
                                </ul>
                            </b-card-text>
                        </b-tab>
                         <b-tab title="Pregled šol">
                            <b-card-text>
                                <table class="modal-table">
                                    <tr>
                                        <th>Ime šole</th>
                                        <th>Status</th>
                                        <th>Potrdi</th>
                                    </tr>
                                    <tr v-for="school in user_schools">
                                        <td style="width:90%"> [[ school.Naziv ]] </td>
                                        <td id="potrjen" style="width:10%" v-if="school.Potrjen == 1">Potrjen</td>
                                        <td id="nepotrjen" style="width:10%" v-if="school.Potrjen == 0">Nepotrjen</td>
                                        <td id="nepotrjen" style="width:10%">
                                            <button :id="school.ID_Sola" class="confirm" v-if="school.Potrjen == 0" v-on:click="userConfirm($event,selectedUser.id, school.ID_Sola)">Potrdi</button>
                                        </td>
                                    </tr>
                                </table>
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Pregled tekmovanj">
                            <b-card-text>
                                <table class="modal-table">
                                    <tr>
                                        <th>Ime tekmovanja</th>
                                        <th>Ime šole</th>
                                    </tr>
                                    <tr v-for="tekmovanje in tekmovanja">
                                        <td style="width:40%"> [[ tekmovanje.Naziv ]] </td>
                                        <td style="width:60%"> [[ tekmovanje.Ime_sola ]] </td>
                                </table>
                            </b-card-text>
                        </b-tab>
                    </b-tabs>
            </b-modal>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">
                <span slot="email" slot-scope="user_school">
                    <a href="#" v-b-modal.modal-1 @click="handler(user_school.row.Mentor_id)">[[ user_school.row.email ]]</a>
                </span>
                <span slot="naziv" slot-scope="user_school">
                    [[ user_school.row.naziv ]]
                </span>
                <span slot="Potrdi" slot-scope="user_school">
                    <button class="confirm" v-on:click="userConfirm($event,user_school.row.Mentor_id,user_school.row.Sola_id)">Potrdi</button>
                </span>

            </v-client-table>
         </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/uncorfirmed_menthors.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}