{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'user/competitions/competitions.css' %}">
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<script src={% static 'shared/autocomplete.js' charset=UTF-8 %}></script>

<link rel="stylesheet" type="text/css" href="{% static 'shared/autocomplete.css' %}">
</head>
    <body>
        {% include "shared/user/header.html" %}
        <div id="container">
            <!-- Modal za prijavo na tekmovanje v okviru šole -->
            <b-modal size="lg" id="modal-2">
                <template slot="modal-title" v-if="isLoginEnabled">
                    Izbrano tekmovanje [[selectedCompetitionName]]
                </template>
                <div v-if="isLoginEnabled">
                    <h4>Podatki o tekmovanju</h4>
                    <ul>
                        <li v-if="modal_obdobje === 0"><b>Datum tekmovanja: </b>[[nicerCompetitionDate]]</li>
                        <li v-if="modal_obdobje === 1"><b>Datum tekmovanja: </b>[[nicerCompetitionDate_from]] - [[nicerCompetitionDate_to]]</li>
                        <li><b>Začetek prijave: </b>[[nicerLoginDate]]</li>
                        <li><b>Url razpis: </b>[[competition_info.url_razpis]]</li>
                        <li><b>Kontaktni naslov: </b>[[competition_info.kontaktni_naslov]]</li>
                        <li><b>Tip tekmovanja: </b>[[competition_info.tip]]</li>
                        <li><b>Dodatni podatki: </b>[[competition_info.dodatni_podatki]]</li>
                    </ul>
                    <h4>Prijava ali odjava na tekmovanje preko šole</h4>
                    <v-client-table v-if="tableData.length > 0" ref="myTable" :data="tableData" :columns="columns" :options="options">
                        <span slot="Izbira" slot-scope="tekmovanje">
                            <span v-if="tekmovanje.row.Potrjen == 1 && tekmovanje.row.Prijavljen == true"><input type="checkbox" :id="tekmovanje.row.ID_Sola" :value="tekmovanje.row.ID_Sola" v-model="checkedNames"  v-on:change="checkboxChange(tekmovanje.row.ID_Sola,tekmovanje.row.Naziv)"> </span>
                            <span v-if="tekmovanje.row.Potrjen == 1 && tekmovanje.row.Prijavljen == false"><input type="checkbox" :id="tekmovanje.row.ID_Sola" :value="tekmovanje.row.ID_Sola" v-model="checkedNames"  v-on:change="checkboxChange(tekmovanje.row.ID_Sola,tekmovanje.row.Naziv)"> </span>
                        </span>
                        <span slot="Naziv šole" slot-scope="tekmovanje">
                            <span v-if="tekmovanje.row.Potrjen == 0">[[ tekmovanje.row.Naziv ]]</span>
                            <span v-if="tekmovanje.row.Potrjen == 1">[[ tekmovanje.row.Naziv ]]</span>
                        </span>
                        <span slot="Status" slot-scope="tekmovanje">
                            <span v-if="tekmovanje.row.Potrjen == 0" class="nepotrjen">Nepotrjen</span>
                            <span v-if="tekmovanje.row.Potrjen == 1 && tekmovanje.row.Prijavljen == true" class="prijavljen"><img src={% static 'icons/checked.png' charset=UTF-8 %}></span>
                            <span v-if="tekmovanje.row.Potrjen == 1 && tekmovanje.row.Prijavljen == false" class="neprijavljen">Neprijavljen</span>
                        </span>
                    </v-client-table>
                    <p v-if="tableData.length === 0">
                        Za prijavo na tekmovanje morate biti potrjeni na vsaj 1 <a href="/schools/">šoli</a>. <br> <br> 
                        <a href="/help">Pomoč</a>
                    </p>

                </div>
                <p v-if="!isLoginEnabled">
                    Prijava na tekmovanje <b> [[selectedCompetitionName]] </b> še ni mogoča. Prijava mogoča od: [[nicerLoginDate]]. <br>
                    <b>Kontaktni naslov tekmovanja: </b>[[competition_info.kontaktni_naslov]] <br>
                    <b>Dodatni podatki tekmovanja: </b>[[competition_info.dodatni_podatki]] <br>
                </p>
            </b-modal>

            <!-- Prikaz mojih tekmovanj -->
            <b-card no-body>
                <b-tabs pills card vertical>
                    <b-tab title="Moja tekmovanja" active>
                        <b-card-text>
                            <div id="user_competition_subscripitons">
                                <div id="competition" v-for="competition in competitionsAndSchools" v-b-modal.modal-2 @click="selectedCompetition(competition.ID_Tekmovanje,competition.Naziv)">
                                    <div id="competition-content">
                                        Na tekmovanje <b> [[competition.Naziv]] </b> ste prijavljeni preko naslednjih šol:
                                        <ul>
                                            <li v-for="school in competition.sez_sol">
                                                [[school]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div v-if="competitionsAndSchools.length === 0"> <h6> <center> Prijavljeni niste še na nobeno tekmovanje. Na tekmovanje se lahko prijavite preko  <a href="/schools/">šole</a> na kateri ste potrjeni. <center></h6></div>
                            </div>
                        </b-card-text>
                    </b-tab>
                    <!-- Prikaz vseh tekmovanj -->
                    <b-tab title="Vsa tekmovanja">
                        <b-card-text>
                            <table id="allCompetationsTable">
                                <tr>
                                    <th>Ime tekmovanja</th>
                                    <th>Tip tekmovanja</th>
                                    <th>Datum tekmovanja</th>
                                    <th>Začetek prijave</th>
                                    <th>Skrij</th>
                                </tr>
                                <tr v-for="competition in allCompetitionDataList">
                                    <td data-label="Ime tekmovanja:" v-b-modal.modal-2 @click="selectedCompetition(competition.ID_Tekmovanje, competition.Ime_Tekmovanje)"><a href="#">[[competition.Ime_Tekmovanje]]</a></td>
                                    <td data-label="Tip tekmovanja:"> [[competition.tip_tekmovanja]]</td>
                                    <td data-label="Datum tekmovanja:" v-if="competition.obdobje === 0">[[competition.competition_date]]</td>
                                    <td data-label="Datum tekmovanja:" v-if="competition.obdobje === 1">[[competition.competition_date_from]] - [[competition.competition_date_to]]</td>
                                    <td data-label="Začetek prijave:">[[competition.start_login_date]]</td>
                                    <td><b-button size="sm" variant="outline-secondary" @click="hideCompetition(competition.ID_Tekmovanje)"> Skrij tekmovanje </b-button> </td>
                                </tr>
                            </table>
                        </b-card-text>
                    </b-tab>
                    <!-- Prikaz skritih tekmovanj -->
                    <b-tab title="Skrita tekmovanja" v-if="hiddenCompetitions.length > 0">
                        <b-card-text>
                            <table id="hiddenCompetationsTable">
                                <tr>
                                    <th>Skrita tekmovanja</th>
                                    <th>Odkrij</th>
                                </tr>
                                <tr v-for="competition in hiddenCompetitions">
                                    <td>[[competition.Ime_Tekmovanje]]</td>
                                    <td><b-button size="sm" variant="outline-secondary" @click="unHideCompetition(competition.ID_Tekmovanje)"> Odkrij tekmovanje </b-button> </td>
                                </tr>
                            </table>
                        </b-card-text>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'user/competitions/competitions.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}
