#container {
    margin: auto;
    width:70%;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .card .tabs .col-auto {
        width: 100% !important;
    }
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}