{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'user/message/send_message_to_admin.css' %}">
</head>
    <body>
        {% include "shared/user/header.html" %}
        <div id="container">
            <ul class="page-info">
                <li>&bull; Uporabnik</li>
                <li>&bull; Pošlji sporočilo</li>
            </ul>
            <p>Tukaj lahko administratorju pošljete morebitno težavo v aplikaciji. Vsa vnosna polja so za vnos obvezna.</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Naslov</span>
                </div>
                <input type="text" v-model="title" v-on:keyup="countdownTitle" placeholder="Naslov problema" class="form-control" maxlength="40">
            </div>
            <p class='text-right text-small'>[[remainingCountTitle]]</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Opis</span>
                </div>
                <textarea type="textarea" v-model="message" placeholder="Kratek opis problema" v-on:keyup="countdownMessage" class="form-control" rows="4"  maxlength="150"> </textarea>
            </div>
            <p class='text-right text-small'>[[remainingCountMessage]]</p>
            <p  v-bind:class="{ 'text-success': statusSuccess, 'text-danger': statusNotSuccess }"> [[status]] </p>
            <button class="btn-primary btn" @click="sendMessage()">Pošlji sporočilo</button>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'user/message/send_message_to_admin.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}