#container {
    margin: auto;
    width:90%;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .card .tabs .col-auto {
        width: 100% !important;
    }
}

#competition {
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

#competition-content {
    padding: 10px;
}

#competition:hover {
    cursor: pointer;
    background-color: #00BFFF;
}

#user_competition_subscripitons ul {
    margin-bottom: 0 !important;
}
#modal-2 th:nth-child(1) {
    width: 2% !important;
}

#modal-2 [id^="VueTables__search_"] {
    display: none;
}

#allCompetationsTable th:nth-child(1) {
    width:30%;
}

#allCompetationsTable  th:nth-child(2) {
    width:15%;
}
#allCompetationsTable  th:nth-child(3) {
    width:15%;
}
#allCompetationsTable  th:nth-child(4) {
    width:15%;
}
#allCompetationsTable th:nth-child(5) {
    width:10%;
}
#allCompetationsTable, #hiddenCompetationsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #hiddenCompetationsTable th:nth-child(1) {
   width:90%; 
  }    
  #allCompetationsTable td, #allCompetationsTable th, #hiddenCompetationsTable td, #hiddenCompetationsTable th{
    border: 1px solid #ddd;
    padding: 8px;
  }

  #allCompetationsTable tr:nth-child(even){background-color: #f2f2f2;}
  #allCompetationsTable tr:hover {background-color: #ddd;}
  #hiddenCompetationsTable tr:nth-child(even){background-color: #f2f2f2;}
  #hiddenCompetationsTable tr:hover {background-color: #ddd;}

  #allCompetationsTable th, #hiddenCompetationsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  td:hover {
      cursor: pointer;
  }
  
/*Mobile View*/
@media only screen and  (max-width: 900px) {
#allCompetationsTable td, #allCompetationsTable tr { display: block; }
#allCompetationsTable  th {display: block !important; width: 100% !important}
/* Hide table headers (but not display: none;, for accessibility) */
#allCompetationsTable tr th {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#allCompetationsTable tr + tr { margin-top: 1.5em; }
#allCompetationsTable  td {
  /* make like a "row" */
  border: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  background-color: #f2f2f2;
  text-align: left;
}
 
#allCompetationsTable td:before {
content: attr(data-label);
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  white-space: nowrap;
}
}
