#container {
    margin: auto;
    width:90%;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .tabs .col-auto {
        width: 100% !important;
    }
}

#school {
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

#school-content {
    padding: 10px;
}

#delete-school-button  {
    margin: 10px;
}

#school:hover {
    cursor: pointer;
    background-color: #00BFFF;
}

#school .btn {
    padding: .15rem .3rem !important;
    font-size: o.75 rem !important;
}
#school .btn:hover {
    background-color: #C822FC !important;
}

p {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 3px !important;
}

.btn-success {
    padding: 0 !important;
    margin-left: 2px;
    border-left-width: 4px;
    border-right-width: 4px;
}
#school_user_info {
    width: 90%;
    margin: auto;
    margin-top: 30px !important;
}

.slika-potrdi {
    margin-left: 15px;
}

th:nth-child(1) {
    width: 5%;
}
th:nth-child(2) {
    width: 90%;
}
th:nth-child(3) {
    width: 5%;
}


table td {
    padding: 0.5rem !important;
}

#status {
    color: red;
}
#add_status {
    color: green;
}
#add_schools {
    width: 100%;
    margin-top: 2px;
}
.text-color-green {
    color: green;
}

#vnos_sole {
    background-color: white;
    border-radius: 0;
    border-color: #007bff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}
#dodaj{
    background-color:  #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:5%;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
#dodane {
    width:30%;
    display: inline-block;

}
#pocisti{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:5%;
    padding:5px;
    cursor: pointer;
    border-radius: 3px;
  }

.autocomplete {
    display:inline-block;
    width:100%;
}