#container {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

ul {
    padding: 0 !important;
    margin-bottom: 5px !important;
}
li {
    display: inline;
}

img {
    height: 26px !important;
}

#csv {
    margin-left: 15px;
}

#csv:hover {
    cursor: pointer;
}

th:nth-child(1) {
    width:45%;
}

th:nth-child(2) {
    width:45%;
}

th:nth-child(3) {
    width:10%;
}

.confirm{
    background-color: #4CAF50;
}

#aktiven {
    color:green;
}
#neaktiven {
    color:red;
}

.modal-table th {
    background-color: #4CAF50;
}

.modal-table tr:nth-child(even) {
    background-color: #f2f2f2;
}