#container {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

th:nth-child(1) {
    width:90%;
}

p{
    word-break: break-all
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}