#container {
  margin: auto;
  width: 95%;
}
th:nth-child(1) {
  width:8%;
}

th:nth-child(2) {
  width:25%;
}

th:nth-child(3) {
  width:65%;
}

#table td {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8%;
  left: 0;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: inline;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
  padding: 7px 8px;
  float:left;
  font-weight: bold;
  border: none;
}

.openbtn:hover {
  background-color: #f1f1f1;
}

.far{
  margin-right: 7px;
}

.fas{
  margin-right: 8%;
}

.dropdown-menu{
  min-width: 280px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.dropdown-menu:hover{
  background-color: #f1f3f4;
}

hr{
  border-top: 1px solid #ccc7c7;
  margin: 0.5rem 0;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#len{
  margin-left: 28%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#dropdownMenuButton:hover{
  background-color: #f1f3f4;
}

#dropdownMenuButton{
background-color: white;
width: 100%;
border-radius: 8px;
font-size: 18px;
color: #818181;
padding-right: 47%;
}

#status2{
color:red;
margin-left: 35%;
font-weight: bold;
}

.state{
color:red;
margin-left: 35%;
font-weight: bold;
}

#filtr{
margin-bottom:2%;
}

#ment{
position: relative;
top: 6px;
left: 0;
height: 17px;
width: 17px;
background-color: #eee;
}

.btn-sm {
padding: 5px 15px;
}

/* .dropdown-menu:hover{
background-color: black;
} */

.editGroup, .deleteGroup{
color: rgba(0,0,0,0.87);
cursor: pointer;
display: inline-block;
height: 20px;
float:right;
right: 3%;
opacity: .55;
outline: 0;
padding: 4px;
position: relative;
-webkit-transition: .15s transform;
transition: .15s transform;
}

#uredi{
margin-right: 5%;
margin-left: -25%;
}

.confirm{
  background-color: #4CAF50;
}

#aktiven {
  font-weight: normal;
  color:green;
}
#neaktiven {
  font-weight: normal;
  color:red;
}

.bg-info {
background-color: #17a2b8!important;
}

.fa-bars:hover{
color: white;
}

.ms-drop ul {
overflow: auto;
margin: 0;
max-height: 250px;
background-color: #f1f1f1;
list-style-type: none;
padding: 10px 20px;
text-align: left;
}

.ms-drop ul>li:hover{
background-color: rgb(197, 197, 197);
}

.modal-table {
  background-color: #4CAF50;
}

.modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#export {
margin-left:60px;
margin-bottom: 15px;
}

img {
height: 30px !important;
}

#export:hover {
cursor: pointer;
}

.toggle.btn-xs {
float: right;
padding-right: 27%;
}

.custom-control-label::before {
position: relative !important;
}

#vs{
margin-left: 26%;
}