#container {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

img {
    height: 26px !important;
}

#csv {
    margin-left: 15px;
}

#csv:hover {
    cursor: pointer;
}

th:nth-child(1) {
    width:90%;
}

.table {
    margin-bottom: 0 !important;
}

.editbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.delbtn {
  background-color: red;
  color: white;
  padding: 7px 9px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
