
#container {
    margin: auto;
    width:90%;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .tabs .col-auto {
        width: 100% !important;
    }
}

#sign-down {
    background-color: red;
    width: 100%;
}

#show {
    margin-top:40px;
    background-color: #4CAF50;
    padding: 5px;
}

#update {
    width: 100%;
    margin-top: 11px;
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

ul {
    padding-left: 0 !important;
}