<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    </head>
    <body>
        <center> <p style="color:green; margin-top:40px">Uspešno ste bili potrjeni. Vaš račun je sedaj aktiven.</p></center>
        <p><center><a href="{% url 'login' %}">Prijava</a></center></p>
    </body>
</html>
