<center><h2>Zahtevka ni mogoče najti</h2>
<p style="color:red;margin-top:15px;"> Za to obstaja več možnosti:
<ul>
    <li>Zahtevek je potekel ali</li>
    <li>zahtevek ste že porabili ali</li>
    <li>zahtevek ne obstaja</li>
</ul>
V primeru, da ste pozabili geslo prosimo, da zaprosite ponovno. <a href="/lost_password/" >Ponastavitev gesla</a> </p></center>
<p><center><a href="{% url 'login' %}">Prijava</a></center></p>

