{% load static %}
<html>
    <head>
        <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'guest/lost_password/success.css' %}">
    </head>
    <body>
        <p id="token" hidden>{{token}}</p>
    <div id="container">
        <div id="forma">
                <div class="form_header" id="naslov">
                    <h2><p style="color:green">Ponastavitev gesla</p></h2>
                    Za uspešno ponastavitev gesla kliknite na spodnji gumb "ponastavi geslo".
                    <p class="text-info">[[status]]</p>
                    <button type="submit" v-on:click="send_token" class="lostbtn btn btn-primary">Ponastavi geslo</button>
                </div>
                <p><center><a href="{% url 'login' %}">Prijava</a></center></p>
        </div>
    </div>
    </body>
    <script src="{% static 'guest/lost_password/success.js' charset=UTF-8 %}"></script>
</html>