<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    </head>
    <body>
        <center> <p style="color:red;margin-top:40px;"> Neuspešno ste bili potrjeni. Vaš račun je neaktiven. Za uspešno aktivacijo se še enkrat registrirajte in potrdite račun preko elektronskega računa. </p></center>
        <p><center><a href="{% url 'login' %}">Prijava</a></center></p>
    </body>
</html>
