{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'user/help.css' %}">
</head>
    <body>
        {% include "shared/user/header.html" %}
        <div id="container">       
            <ul class="page-info">
                <li>&bull; Uporabnik</li>
                <li>&bull; Pomoč</li>
            </ul>
            <b-card no-body class="pomoči">
                <b-tabs pills card vertical>
                <b-tab v-for="h in help" :title=h.title>
                    <b-card-text>
                        <pre> [[h.description]] </pre>
                    </b-card-text>
                </b-tab>
                </b-tabs>
            </b-card>
        </div>
    <script src="{% static 'user/help.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}
