{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'user/index.css' %}">
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
</head>
    <body>
        {% include "shared/user/header.html" %}
        <div id="container">
            <p v-if="!unconfirmedMenthors && !newCompetitions" class="text-success">
                Pozdravljeni, [[ user.username ]]. Trenutno nimate obvestil.
            </p>
            <p v-if="unconfirmedMenthors || newCompetitions">
                Pozdravljeni [[ user.username ]] trenutno imate sledeča obvestila:
            </p>
            <ul>
                <li v-if="unconfirmedMenthors" class="text-warning">
                    Na šolah obstajajo mentorji, ki še niso bili potrjeni iz vaše strani.
                </li>
                <li v-if="newCompetitions" class="text-warning">
                    Pred kratkim so bila objavljena nova tekmovanja. <a href="/competitions/">Pregled</a>
                </li>
            </ul>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'user/index.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}