<!--  EXTENDS TEMPLATE FOR SUPERADMIN -->

{% extends 'admin/base.html' %}
{% block footer %}
{% if request.user.is_superuser and request.user.is_staff %}
<div style="margin-left:30px">
    <h2> <a href="/admin/bulk">Dodajanje večih uporabnikov</a> </h2>
    <h2> <a href="/admin/merge">Združevanje večih uporabnikov</a> </h2>
    <h2> Pregled modelov v obliki api-jev</h2>
    <a href="/users/" target="_blank">Users</a><br>
    <a href="/groups/" target="_blank">Groups</a><br>
    <a href="/mail_group/">Mail groups</a> <br>
    <a href="/mail_user_groups/">Mail user groups</a> <br>
    <a href="/sola/" target="_blank">Sola</a><br>
    <a href="/mentor/" target="_blank">Mentor</a><br>
    <a href="/potrditve/" target="_blank">Potrditve</a><br>
    <a href="/uci/" target="_blank">Uci</a><br>
    <a href="/tekmovanje/" target="_blank">Tekmovanje</a><br>
    <a href="/sodeluje/" target="_blank">Sodeluje</a>
</div>
{% endif %}
{% endblock %}