{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/admin.css' %}">

</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <ul>
                <li>&bull; Dodajanje</li>
                <li>&bull; Administratorjev</li>
            </ul>
            <div class="form-group">
                <div class="col-sm">
                    <label class="col-sm-4" for="ime"><b>Ime:</b></label>
                    <div class="col-sm-12">
                        <input type="text" v-model="ime" class="form-control" id="ime" name="ime">
                    </div>
                    <label class="control-label col-sm-4" for="priimek"><b>Priimek:</b></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" v-model="priimek" id="priimek" name="pwd">
                    </div>
                </div>
                <div class="col-sm">
                    <label class="control-label col-sm-4" for="email"><b>Email:</b></label>
                    <div class="col-sm-12">
                        <input type="text" v-model="email" class="form-control" id="email" name="email">
                    </div>
                    <label class="control-label col-sm-4" for="up_ime"><b>Up Ime:</b></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" v-model="up_ime" id="up_ime" name="pwd">
                        </div>
                    </div>
                    <div class="col-sm">
                        <label class="control-label col-sm-4" for="geslo"><b>Geslo:</b></label>
                    <div class="col-sm-12">
                        <input type="password" v-model="geslo" class="form-control" id="geslo" name="email">
                    </div>
                    <label class="control-label col-sm-4" for="geslo_ponovno"><b>Ponovitev gesla:</b></label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" v-model="geslo_ponovno" id="geslo_ponovno" name="pwd">
                        </div>
                    </div>
                    <p id="adminStatus" v-bind:class="{ 'text-success': adminAddIsSuccess, 'text-danger': adminAddHasError }">[[adminStatus]]</p>
                    <button id="update" v-on:click="add_admin()" class="btn btn-primary">Dodaj administratorja</button>
                </div>
            </div>
        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/admin.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}