{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/bulk_schools.css' %}">

</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <ul class="page-info">
                <li>&bull; Dodajanje več </li>
                <li>&bull; Šol</li>
            </ul>
            
            Pri vnašanju mora biti v vsaki vrstici zapisana 1 šola, šole se ne smejo podvajati. V primeru, da dolžina naziva šole presega 105 znakov, šola ne bo vnešena. <br> <br>
           
           Vrsta šol:
            <b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select>
            <br> <br>
            Šole:
            <b-form-textarea placeholder="Šola 1" id="textarea" v-model="textareaValue"></b-form-textarea>
            <p class="text-info" v-if="status.length > 0">
                <ul>
                    <li v-for="stat in status">[[stat]]</li>
                </ul>
            </p>
            <button type="submit" @click="bulk()" class="registerbtn btn btn-primary">Vnos šol</button>

        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/bulk_schools.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}
