{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/competition_type.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container"> 
            <ul class="page-info">
                <li>&bull; Dodajanje</li>
                <li>&bull; Vrste tekmovanj</li>
            </ul>
            <label for="tekmovanje_ime"><b>Vrsta tekmovanja<font color="red">*</font></b></label><br>
            <input type="text" class="input" placeholder="Vnesite vrsto tekmovanja" maxlength="50" id="tekmovanje_ime" name="tekmovanje_ime" v-model="competition_type" required>
            <p id="status_tekmovanje" v-bind:class="{ 'text-success': competitionIsSuccess, 'text-danger': competitionHasError }">[[ status_tekmovanje ]]</p>
            <button class="btn-primary btn" v-on:click="add_competition_type">Dodaj vrsto tekmovanja</button>
        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/competition_type.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}