{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'user/school/schools.css' %}">
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<script src={% static 'shared/autocomplete.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'shared/autocomplete.css' %}">
</head>
    <body>
        {% include "shared/user/header.html" %}
        <div id="container">
            <!-- Modal za nepotrjene mentorje na šoli -->
            <b-modal id="modal-1" title="Nepotrjeni">
                <p class="my-4">Na šoli <b> [[selectedSchoolName]] </b> ste v postopku potrjevanja. Dokler na šoli ne boste potrjeni, ne boste morali pregledovati ali potrjevati drugih mentorjev na šoli. Prav tako se preko šole ne morete prijaviti na tekmovanje. <br>
                    <br>
                    <a href="/help">Pomoč</a>
                </p>
            </b-modal>

            <!-- Modal za potrjene mentorje na šoli -->
            <b-modal size="lg" id="modal-2">
                <template slot="modal-title">
                    Mentorji na šoli [[selectedSchoolName]]
                </template>
                <v-client-table ref="myTable" :data="tableData" :columns="columns" :options="options">
                    <span slot="Status" slot-scope="school">
                        <span v-if="school.row.Potrjen == 0" style="color:red" v-b-tooltip.hover title="Uporabnik še ni potrjen na tej šoli">
                            <img src={% static 'icons/cancel.png' charset=UTF-8 %}>
                        </span>
                    <span v-if="school.row.Potrjen == 1" style="color:green" v-b-tooltip.hover title="Uporabnik potrjen na tej šoli"><img src="{% static 'icons/verified-account.png' charset=UTF-8 %}"></span>
                    </span>
                        <span slot="Naziv_mentor" slot-scope="school">
                            [[ school.row.Naziv_mentor ]]
                        </span>
                        <span slot="Potrdi" slot-scope="school">
                            <button :id="school.row.ID_Mentor" class="btn btn-success" v-if="school.row.Ze_potrjen == 0" v-on:click="userConfirm($event,school.row.ID_Mentor,selectedSchoolId)">Potrdi</button>
                            <p v-if="school.row.Ze_potrjen == 1" id="potrjen" v-b-tooltip.hover title="Uporabnik potrjen z vaše strani ali s strani drugih"><img class="slika-potrdi" src={% static 'icons/checked.png' charset=UTF-8 %}></p>
                            <p v-if="school.row.Potrjen == 1" id="potrjen"><img class="slika-potrdi" src={% static 'icons/checked.png' charset=UTF-8 %}></p>
                        </span>
                </v-client-table>
            </b-modal>
          <b-card no-body>
                <b-tabs pills card vertical>

                    <!-- Zavihek moje šole -->
                    <b-tab title="Moje šole" active>
                        <b-card-text>
                            <div id="schools">
                                <div id="school" v-for="school in userSchools">
                                    <b-button size="sm" variant="danger" id="delete-school-button" @click="school_unregistration(school.ID_Sola)" style="float: right; "> Izbriši me</b-button>     
                                    <div v-if="school.Potrjen == 1" v-b-modal.modal-2 @click="currentSelectedSchoolConfirmed(school.ID_Sola,school.Naziv)">
                                        <div id="school-content">
                                            <span class="potrjen" v-b-tooltip.hover title="Na tej šoli ste potrjeni"><img src={% static 'icons/verified-account.png' charset=UTF-8 %}></span>
                                            <span> [[ school.Naziv ]] </span>
                                            <p v-if="school.Nepotrjeni == 0" class="text-success"> Vse mentorje ste potrdili. </p>
                                            <p v-if="school.Nepotrjeni > 0"> Število nepotrjenih na šoli: <span class="text-info"> [[ school.Nepotrjeni ]] </span> </p>
                                        </div>
                                    </div>
                                    <div v-if="school.Potrjen == 0" v-b-modal.modal-1 @click="currentSelectedSchoolUnconfirmed(school.ID_Sola,school.Naziv)">
                                        <div id="school-content">
                                            <span class="nepotrjen" v-b-tooltip.hover title="Na tej šoli niste potrjeni"><img src={% static 'icons/cancel.png' charset=UTF-8 %}></span>
                                            <span> [[ school.Naziv ]] </span>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="userSchools.length === 0"> <h6> <center> Prijavljeni niste še na nobeno šolo. Na šolo se prijavite pod zavihkom "Dodaj šole". </center> </h6> </div>
                            </div>
                        </b-card-text>
                    </b-tab>

                    <!-- Zavihek za dodajanje šol -->
                    <b-tab title="Dodaj šole">
                        <b-card-text>
                            <div id="addSchools">
                                <autocomplete
                                id="vnos_sole"
                                ref="auto"
                                :style="{ width:'85%', display:'inline-block' }"
                                :search="search"
                                placeholder="Iščite šole..."
                                aria-label="Iščite šole..."
                                ></autocomplete>
                                <span id="dodaj" @click="add_school()" v-b-tooltip.hover title="Kliknite, da dodate šolo na seznam">+</span>
                                <p id="pocisti" @click="delete_school()" v-b-tooltip.hover title="Kliknite, da izbrišete šolo iz seznama">-</p>
                                <span v-if="izbrane_sole.length > 0"> <br><b> Dodane šole: </b> </span>
                                <div id="sola_dodana">
                                    <li v-for="school in izbrane_sole">[[ school ]]</li>
                                </div>
                                <center><p id="status"> [[status]] </p></center>
                                <center><p id="add_status"><b>[[add_status]]</b></p></center>
                                <button type="submit" id="add_schools" class="btn btn-primary" @click="user_add_schools" class="registerbtn">Dodaj šole</button>
                                <br><br>
                                <center><p>Ne najdete šole? <a href="/all_schools" target="_blank">Seznam vseh šol</a>.</p></center>
                                <center><p>Če vaše šole ni na seznamu vseh šol lahko pošljete sporočilo<a href="/send_message_to_admin/"> administratorju</a>.</p></center>

                            </div>
                        </b-card-text>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'user/school/schools.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}