
#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }

  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table tr:nth-child(even){background-color: #f2f2f2;}

  #table tr:hover {background-color: #ddd;}

  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

#potrjen {
    color: #4CAF50;
}

#nepotrjen {
    color: red;
}


[id^="VueTables__search"] {
  width: 100%;
}
[for^="VueTables__search_"] {
  display: none;
}
[id^="VueTables__search_"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 7px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }

[id^="VueTables__search_"]:focus {
  width: 200px;
}
.potrjen {
  color: green;
}

.nepotrjen {
  color: red;
}

.VueTables__table {
  width: 100%;
}
.VueTables__no-results {
  display:none;
}
.VuePagination__count {
  display:none;
}