input{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 3px solid #AAA;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

  input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
    border-bottom: 2px solid #007bff;
    color: #007bff;
    transition: 0.2s ease;
  }

  .textareaContainer {
      display: block;
      border: 2px solid #007bff;
      padding: 10px;
  }


  .lostbtn {
      color: white;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
  }

  .lostbtn:hover {
      opacity: 1;
  }

  #naslov {
      text-align: center;
  }

  #forma {
  padding:10%;
  width:70%;
  margin: auto;
  }
